.jumbotron {
  background-color: #a2d9ff;
  padding-top: 6rem;
}
.jumbotron img {
  width: 300px;
}
.portfolio {
  background-color: #a2d9ff;
}
footer {
  font-size: 24px;
}
section {
  padding-top: 5rem;
}
